{% extends 'operations/base.html' %} 
{% block title %}update details{% endblock title %}
{% block heading %}Update Details{% endblock heading %}
{% block content %}
<div class="row">
    <div class="col-lg-8 ">

        <h3 class="text-center m-2 alert alert-info">Update all Information here</h3>
    <form action="" method="post" class="d-inline">
        {% comment %} the empty action show thisfile or function will be called again on submit {% endcomment %}
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Update" class="btn btn-primary">
</form>    
    <a href="{% url 'home' %}" class="btn btn-danger">back to home</a>
</div>
</div>

{% endblock content %}